/* 
  CASCADING STYLESHEET
*/

html,
body {
  margin: 0;
}

/* ALINHAMENTOS, ESPAÇAMENTOS, 
  LARGURAS E ALTURAS */
header,
main,
footer {
  text-align: center;
}

.donors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header,
.form,
main {
  /* espaçamentos com margin */
  margin: 0 auto 70px;

  /* limites dos elementos */
  width: 90%;
  max-width: 500px;
}
