/* 
  CASCADING STYLESHEET
*/

/* GLOBAL */
html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TITULOS */
header h1,
main h2 {
  margin-bottom: 70px;
}

/* ALINHAMENTOS, ESPAÇAMENTOS, 
  LARGURAS E ALTURAS */
header,
main,
footer {
  text-align: center;
}

header,
.form,
main {
  /* espaçamentos com margin */
  margin: 0 auto 70px;

  /* limites dos elementos */
  width: 90%;
  max-width: 500px;
}

section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .donors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
  margin-top: auto;
}
