/* 
  CASCADING STYLESHEET
*/

/* GLOBAL */
html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

/* TITULOS */
header h1,
main h2 {
  margin-bottom: 70px;
}

/* ESTRUTURA */
header,
main,
footer {
  /* alinhamento de textos */
  text-align: center;
}

header,
.form,
main {
  /* espaçamentos com margin */
  margin: 0 auto 70px;

  /* limites dos elementos */
  width: 90%;
  max-width: 500px;
}

/* FORM */
section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form input,
form button {
  width: 100%;
  margin-bottom: 4px;
  padding: 8px;
}
/* MAIN */
main .donors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
  margin-top: auto;
}

div.cred {
  width: auto;
  height: 700px;
  align-items: center;
  background: #00ae9d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
